a {
    color: #000000;
}

a:link {
    color: #000000;
  }
  
  /* visited link */
  a:visited {
    color: #000000;
  }
  
  /* mouse over link */
  a:hover {
    color: #499DFF;
  }
  
  /* selected link */
  a:active {
    color: #000000;
  }